/*! Mixins */
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,800);

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot");
  src: url("../fonts/ionicons.eot") format("embedded-opentype"),
       url("../fonts/ionicons.ttf") format("truetype"),
       url("../fonts/ionicons.woff") format("woff"),
       url("../fonts/ionicons.svg#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.border-radius1 (@radius: 1px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

