/*********************************************
  * Filename: style.css
  * Website: http://
  * Author: Sergi Duran
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 28/10/2013
  * Version: 1.0
*********************************************/

/* CONTENT
  ===========================================
    
  BASE STYLES
    Forms and Inputs
    Typography
    Links and Buttons
    Tables
  
  UTILITY CLASSES
    Grid Sistem
    Lists
      Animations

  LAYOUT
    Globla Header
    Navigation
    Fixed Navigation
    Advanced Dropdown Navigation
    Footer

  =========================================== */

@import "normalize.less";
@import "variables.less";
@import "mixins.less";
@import "main.less";


// Global
// ---------------------------------------------------------------------------

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body {
    font-size: 16px;
}

p {
    line-height: 1.2;
}


// Plugins
// ---------------------------------------------------------------------------
@import "plugins.less";
